.container {
    display: inline-grid;
    grid-template-columns: 193px 195px 195px;
    grid-template-rows: 100px 100px 100px;
    grid-auto-rows: 100px;
    border: 10px solid whitesmoke;
    justify-content: stretch;
    align-content: center;
}
.white {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
    background-color: #ffffff;
}
.red {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #FC3E32;   
}
.circle {
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%
  }
